<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Template</title>
</head>
<body>
    <h1>First Template</h1>
    <p>Valeur de la variable : {{variable}}</p>
    {% if isOk %}
    <p>Je suis ok</p>
    {% endif %}

    
</body>
</html>