{% extends 'base.html.twig' %}

{% block title %}Form example{% endblock %}

{% block body %}
<h1>Form Example</h1>


<form method="post">
    <label for="truc">Truc : </label>
    <input type="text" name="truc" id="truc">
    <button>Go</button>
</form>
{% endblock %}
